@import "tailwindcss";

@theme {
  --color-background: #f7f7f7;
  --color-primary: #437E3B;
  --color-secondary: #825133;
  --color-orange: #FF8401;
  --color-title: #54595E;

  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}
